.header-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 212, 110);
    max-height: 100%;
   align-items: center;
    
}
.header-navicon {
    width: 30px;
    align-self: flex-start;
    padding-left: 30px;
    padding-top: 30px;
}

.header-text {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-weight: 800;
}