.header-container {
    background-color: rgb(110, 212, 110);
    display: grid; 
    grid-template-rows: 15% 30% 55%;
    
}

.header-navicon {
    width: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

.header-text {
    margin: 40px auto;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-weight: 800;
}

.header-img {
    margin: 0 auto;
}