
/* HEADER */
.header-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 212, 110);
    max-height: 100%;
   align-items: center;
    
}
.header-navicon {
    width: 30px;
    align-self: flex-start;
    padding-left: 30px;
    padding-top: 30px;
}

.header-text {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-weight: 800;
}

/*MAIN CONTENT*/

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: center;
    padding-top: 80px;
    gap: 2em;
    
}

/* CARD */
.poster-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    
}

.poster-card-picture {
    

}

.poster-card-h3 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
}

.poster-card-text {
    
     
    
}
.poster-card-button {
    background-color: red;
    border-color: red;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

/* HIGHLIGHT CARDS */
.poster-card-highlight-container {

    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: black;
        color: white;
        justify-content: center;
        padding-top: 80px;
        gap: 2em;
        

}

.poster-card-highlight {
    display: flex;
        flex-direction: column;
        width: 30%;
        background-color: white;
        color: black;
        margin-bottom: 80px;
}

.highlight-margin {
    margin: 15px;
}

/* FOOTER */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(69, 67, 67);
    gap: 10%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 80px;
    padding-top: 50px;
}

.footer-h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    line-height: .5em;
}

.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.footer-icon {
    width: 30px;
}